{% extends "layout.html" %}

{% from 'macros.html' import pagination with context %}

{% block title %}Bans{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
	<div class="columns is-centered">
		<div class="column is-four-fifths">

			{{ pagination(page, page_count) }}

			<table class="table is-striped is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th>CKEY</th>
						<th>Type</th>
						<th>Reason</th>
						<th width="150px">Ban Date</th>
						<th width="150px">Expire Date</th>
						<th>Admin</th>
						<th>Status</th>
						<th>Unbanner</th>
					</tr>
				</thead>
				<tbody>
					{% for ban in bans %}
						<tr>
							<td>{{ ban.ckey }}</td>

							<td>{{ ban.role }}</td>

							<td>{{ ban.reason }}</td>

							<td><time datetime="{{ ban.bantime }}">{{ util.readable_time_delta(ban.bantime) }}</time></td>
							
							{% if ban.expiration_time %}
								<td><time datetime="{{ ban.expiration_time }}">{{ util.readable_time_delta(ban.expiration_time) }}</time></td>
							{% else %}
								<td>Never</td>
							{% endif %}

							<td>{{ ban.a_ckey }}</td>

							<td>
								{% if ban.unbanned_datetime %}
									<div class="tag is-success is-medium has-text-centered">Unbanned</div>
								{% elif ban.expiration_time and datetime.utcnow() > ban.expiration_time %}
									<div class="tag is-primary is-medium has-text-centered">Expired</div>
								{% else %}
									<div class="tag is-danger is-medium has-text-centered">Active</div>
								{% endif %}
							</td>

							<td>{{ ban.unbanned_ckey if ban.unbanned_ckey else "N/A" }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{{ pagination(page, page_count) }}
		</div>
	</div>
{% endblock %}