<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Yogstation - {% block title %}{% endblock %}</title>

		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ request.url }}" />

		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

		<link rel="stylesheet" href="/static/css/main.css" />

		<link rel="stylesheet" href="/static/css/bulma.min.css" />
		<link rel="stylesheet" href="/static/css/bulma-slider.min.css" />
		
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/vue.js"></script>
		
		<script src="/static/js/main.js"></script>

		{% block head %}

		{% endblock %}

	</head>

	<body>
		<nav id="navbar" class="navbar is-dark" role="navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="/">Yogstation 13</a>

				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-links"
					v-on:click="nav_open = !nav_open"
					v-bind:class="{ 'is-active' : nav_open }"
				>
					<span></span> <!-- magic to make the burger button appear -->
					<span></span>
					<span></span>
				</a>
			</div>
			
			<div id="navbar-links" class="navbar-menu"
				v-bind:class="{ 'is-active' : nav_open }"
			>
				<div class="navbar-end">
					<a class="navbar-item" href="{{ cfg.get('links.forums') }}">Forums</a>
					<a class="navbar-item" href="{{ cfg.get('links.wiki') }}">Wiki</a>
					<a class="navbar-item" href="/players">Directory</a>
					<a class="navbar-item" href="/bans">Ban List</a>
					<a class="navbar-item" href="/rounds">Round List</a>
					<a class="navbar-item" href="/library">Library</a>
					<a class="navbar-item" href="/donate">Donate</a>
					
					{% if g.current_user %}
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link">Admin</a>

							<div class="navbar-dropdown">
								<a class="navbar-item" href="/bans/add">Add Ban</a>
								<a class="navbar-item" href="/admin/action_log">Action Log</a>
								<a class="navbar-item" href="/admin/loa">LOAs</a>
								<a class="navbar-item" href="/admin/donors">Donors</a>
								<a class="navbar-item" href="/admin/mentors">Mentors</a>
								<a class="navbar-item" href="/admin/activity">Activity</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</nav>

		<section class="section" id="content">
			{% with flashes = get_flashed_messages(with_categories=True) %}
				{% if flashes %}
					<div class="flashes-container columns is-centered">
						<div class="flashes column is-half">
							{% for category, message in flashes %}
								<div class="notification has-text-centered has-text-weight-bold is-fullwidth pt-2 pb-2
									{% if category == 'success' %}is-success{% endif %}
									{% if category == 'error' %}is-danger{% endif %}
								">
									{{ message }}
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endwith %}

			{% block content %}

			{% endblock %}
		</section>

		<footer class="footer">
			<div class="has-text-centered">
				<strong>YogStation</strong> website made with &lt;3 by <a href="https://github.com/qwertyquerty">qwerty</a>
				<br/>
				{% if not g.current_user %}
					<a href="/login">Admin Login</a>
				{% else %}
					Welcome <b>{{ g.current_user.username }}</b> | <a href="/logout">Logout</a>
				{% endif %}
				<br/>
				{% if g.current_user.has_perms("website.debug") %}
					<p class="is-size-6">Rendered in {{ '%0.3f' % g.request_duration() }}s</p>
				{% endif %}
			</div>
		</footer>
	</body>
</html>