{% extends "layout.html" %}

{% from 'util/macros.html' import pagination, search_form with context %}

{% block title %}Rounds{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

	<h2 class="title is-2 has-text-centered">Public Round List</h2>

	<div class="columns is-centered">
		<div class="column is-four-fifths">

			{{ search_form(search_query, "Search by round id, gamemode, or map...") }}

			{{ pagination(page, page_count) }}

			<table class="table is-striped is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th>Round ID</th>
						<th width="200px">Start Time</th>
						<th>Duration</th>
						<th>Game Mode</th>
						<th>Map Name</th>
						<th width="300px">Station Name</th>
						<th>Tools</th>
					</tr>
				</thead>
				<tbody>
					{% for round in rounds %}
						<tr>
							<td>{{ round.id }}</td>

							<td><time datetime="{{ round.start_datetime }}">{{ round.start_datetime }}</time></td>

							<td>{{ round.end_datetime - round.start_datetime }}</td>
							
							<td>{{ round.game_mode }}</td>

							<td>{{ round.map_name }}</td>

							<td>{{ round.station_name }}</td>

							<td>
								<a class="button" href="https://yogstation13.github.io/demo-viewer/?roundid={{ round.id }}" target="_blank">Replay</a>
								{% if admin_perms.can_view_logs() %}
									<a class="button" href="/rounds/{{ round.id }}/logs">Logs</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{{ pagination(page, page_count) }}
		</div>
	</div>
{% endblock %}