development_env: $DEVELOPMENT_ENV

baseurl: "https://yogstation.net"

db:
  game:
    host: $DB_GAME_HOST
    user: $DB_GAME_USER
    pass: $DB_GAME_PASS
    port: $DB_GAME_PORT
    name: $DB_GAME_NAME

items_per_page: 20

servers:
  main:
    id: "main"
    host: "game.yogstation.net"
    port: 4133
    name: "YogStation Main"
    primary: true

logs:
  directory: $GAME_LOGS_DIR

links:
  forums: "https://forums.yogstation.net/"
  wiki: "https://wiki.yogstation.net/"

secret_key: $FLASK_SECRET_KEY

xenforo_key: $XENFORO_AUTH_KEY

# KEEP THIS IN SYNC WITH THE GAME OR YOU WILL NOT BE ABLE TO EDIT BANS TO NEW ROLES IN GAME
roles: [
  "Server",
  "Captain",
  "Head of Personnel",
  "Head of Security",
  "Chief Engineer",
  "Research Director",
  "Chief Medical Officer",
  "Assistant",
  "Quartermaster",
  "Cargo Technician",
  "Shaft Miner",
  "Bartender",
  "Cook",
  "Botanist",
  "Janitor",
  "Clown",
  "Mime",
  "Curator",
  "Lawyer",
  "Chaplain",
  "Station Engineer",
  "Atmospheric Technician",
  "Medical Doctor",
  "Chemist",
  "Geneticist",
  "Virologist",
  "Scientist",
  "Roboticist",
  "Warden",
  "Detective",
  "Security Officer",
  "AI",
  "Cyborg",
  "Syndicate",
  "Traitor",
  "Operative",
  "Changeling",
  "Wizard",
  "Malf AI",
  "Revolutionary",
  "Head Revolutionary",
  "Xenomorph",
  "pAI",
  "Cultist",
  "Blob",
  "Space Ninja",
  "Monkey",
  "Abductor",
  "Revenant",
  "Devil",
  "Servant of Ratvar",
  "Blood Brother",
  "Brainwashed Victim",
  "Syndicate Mutineer",
  "Hivemind Host",
  "Obsessed",
  "Sentience Potion Spawn",
  "Mind Transfer Potion",
  "Posibrain",
  "Drone",
  "Deathsquad",
  "Lavaland",
  "Internal Affairs Agent",
  "Fugitive",
  "Shadowling",
  "Vampire",
  "Battle Royale Contestant",
  "gangster",
  "darkspawn",
  "Holoparasite",
  "Zombie"
]

library:
  categories: [
    "Any",
    "Fiction",
    "Non-Fiction",
    "Adult",
    "Reference",
    "Religion"
  ]

xenforo:
  apiurl: "https://forums.yogstation.net/api"
  group_ids: # For the sole purpose of getting them for the homepage. If these IDs magically change? Oops. Completely arbitrary.
    host: 43
    council: 8
    headcoder: 30

paypal:
  form_url: "https://www.paypal.com/cgi-bin/webscr"
  ipn_url: "https://ipnpb.paypal.com/cgi-bin/webscr"
  email: "PayPal@yogstation.net"
  item_name: "Donation to Yogstation" # Description of what people are paying for when they donate
  currency_code: "USD"
  return_url: "/donate?confirm=1"
  notify_url: "/api/paypal_donate"

donation:
  tiers:
    - amount: 7.00
      months: 1
    - amount: 14.00
      months: 3
  
  benefits:
    - caption: "Hats"
      details: "When creating a character, you get a choice of hats in the creation menu which you spawn with every time until your donorship expires."
    - caption: "Quiet Round Mode"
      details: "When creating a character, you get the choice of toggling the quiet round mode. You will opt out of becoming an antag, but also never be an antags target. It's a round perfect for those wishing to learn a job role peacefully. Of course, we cannot guarantee you will not be collateral!"
    - caption: "Donor Chat"
      details: "You get to use a private chat only donors and staff can see. In chat, type \"donor\" then spacebar to toggle donorchat (getting rid of say\")"
    - caption: "Byond Donor Effects"
      details: "You get the standard byond donor attire such as custom ghosts, custom OOC colour, etc. The only benefit you do not get is the ability to join the server instantly ad-free, unfortunately."
    - caption: "Fancy PDA"
      details: "You get to choose your PDA's style. This can be found in the character selection menu."
    - caption: "Forum Username Color"
      details: "When you donate, you get the fancy golden forum \"donator\" tag for as long as you donate."
    - caption: "Discord Donor Rank"
      details: "When you donate, you will get a donator role on our Discord, which will give you access to the donator-only channel. Keep in mind, your Discord account has to be linked on our forums."
    - caption: "More Character Creation Slots"
      details: "You can create more game characters and save them for later!"
    - caption: "Purrbation"
      details: "You have the option to spawn with purrbation enabled, which gives you cat ears and a tail. Why you would want this? Well, who knows, but we threw it in anyway."
    - caption: "New HUDs"
      details: "You get to select a fancy new HUD. That's pretty cool I guess..."

replay_viewer:
  origin: "https://yogstation13.github.io"
  max_cache_age: "31536000"