{% extends "layout.html" %}

{% from 'util/macros.html' import pagination, search_form with context %}
{% from 'bans/macros.html' import ban_listing with context %}

{% block title %}Bans{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

	<h2 class="title is-2 has-text-centered">Public Ban List</h2>

	<div class="columns is-centered">
		<div class="column is-four-fifths">

			{{ search_form(search_query, "Search by CKEY...") }}
			
			<br>

			{{ pagination(page, page_count) }}

			{{ ban_listing(bans) }}

			<br>

			{{ pagination(page, page_count) }}
		</div>
	</div>
{% endblock %}