{% extends "layout.html" %}

{% from 'util/macros.html' import form_errors with context %}

{% block title %}Bans - {{ ban.id }} - Edit{% endblock %}

{% block head %}
	<script src="/static/js/bans/edit_ban.js"></script>
{% endblock %}

{% block content %}

	<h2 class="title is-2 has-text-centered">Editing Ban #{{ ban.id }}</h2>

	<div class="columns is-centered">
		<div class="column is-four-fifths">
			<form id="edit-ban-form" method="POST">

				{{ form.csrf_token }}

				<div class="columns">

					<div class="column is-half">
						
						<div class="field">
							<div class="label">CKEY</div>
							<div class="control has-icons-left">
								{{ form.ckey(class_="input is-fullwidth", placeholder="Enter the CKEY of the user...") }}

								<span class="icon is-small is-left">
									<i class="fas fa-user"></i>
								</span>
							</div>
						</div>

						<div class="field">
							<div class="label">Ban Reason</div>
							<div class="control">
								{{ form.reason(class_="textarea is-fullwidth", placeholder="Enter the reason for the ban...", rows="7") }}
							</div>
						</div>

					</div>

					<div class="column is-half">

						<div class="field">
							<div class="label">Expiration Time</div>
							<div class="control has-icons-left">
								{{ form.expiration_time(class_="input is-fullwidth") }}
								<span class="icon is-small is-left">
									<i class="fas fa-clock"></i>
								</span>
							</div>
						</div>

						<div class="field">
							<div class="label">Ban Role</div>
							<div class="control">
								
								<div class="select is-fullwidth">
									{{ form.role() }}
								</div>
							</div>
						</div>

						<div class="columns">
							<div class="column is-half">
								<div class="label">IP</div>
								<div class="field has-addons">
									<div class="control is-expanded has-icons-left">
										{{ form.ip(class_="input", placeholder="IP Address (optional)") }}

										<span class="icon is-small is-left">
											<i class="fas fa-server"></i>
										</span>
									</div>

									<p class="control">
										<a id="get-recent-ip-button" class="button is-info">
											<span class="icon is-small">
												<i class="fas fa-history"></i>
											</span>
										</a>
									</p>
								</div>


							</div>

							<div class="column is-half">
								<div class="label">CID</div>
								<div class="field has-addons">
									<div class="control is-expanded has-icons-left">
										{{ form.computerid(class_="input", placeholder="Computer ID (optional)") }}

										<span class="icon is-small is-left">
											<i class="fas fa-address-card"></i>
										</span>
									</div>

									<p class="control">
										<a id="get-recent-computerid-button" class="button is-info">
											<span class="icon is-small">
												<i class="fas fa-history"></i>
											</span>
										</a>
									</p>
								</div>
							</div>
						</div>

						<div class="columns">
							<div class="column is-half">
								<div class="control">
									<a class="button is-danger is-fullwidth is-pulled-left">Discard Edits</a>
								</div>
							</div>

							<br/>

							<div class="column is-half">
								<div class="control">
									<button class="button is-primary is-fullwidth is-pulled-right">Submit Edits</button>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>

			<br/>

			{{ form_errors(form) }}
		</div>
	</div>
{% endblock %}