{% extends "layout.html" %}

{% from 'util/macros.html' import ckey_link with context %}

{% block title %}Panel - Activity{% endblock %}

{% block head %}
	<script src="/static/js/admin/activity_tracker.js"></script>
{% endblock %}

{% block content %}

<div id="activity-tracker">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th v-for="hour in 24">
					${ hour }
				</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="day in 7">
				<td>${ days_of_week[day-1] }</td>

				<td v-for="hour in 24" :style="{'background-color': color_from_amount_active(week[day-1][hour-1])}">
					${ week[day-1][hour-1] }
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}