{% extends "layout.html" %}

{% from 'util/macros.html' import ckey_link, pagination, search_form, form_errors, render_datetime_as_delta with context %}

{% block title %}Panel - LOAs{% endblock %}

{% block content %}

	<h2 class="title is-2 has-text-centered">Manage LOAs</h2>

	<div class="columns is-centered">
		<div class="column is-four-fifths">

			<form id="set-loa-form" method="POST">
				{{ form_set_loa.csrf_token }}
		
					<div class="field">
						<div class="label">Reason</div>
						<div class="control">
							{{ form_set_loa.reason(class_="textarea is-fullwidth", placeholder="Enter the reason for the LOA...", rows="2") }}
						</div>
					</div>
		
					<div class="columns">
						<div class="field column">
							<div class="label">CKEY</div>
							<div class="control has-icons-left">
								{{ form_set_loa.ckey(class_="input is-fullwidth", placeholder="Enter the CKEY of the user...", readonly=not g.current_user.has_perms("loa.others")) }}
								<span class="icon is-small is-left">
									<i class="fas fa-user"></i>
								</span>
							</div>
						</div>

						<div class="field column">
							<div class="label">Expiration Date</div>
							<div class="control has-icons-left">
								{{ form_set_loa.expiration_time(class_="input is-fullwidth") }}
								<span class="icon is-small is-left">
									<i class="fas fa-clock"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="field has-text-right">
						<button class="button is-success">Set LOA</button>
					</div>
		
					{{ form_errors(form_set_loa) }}
			</form>

			<br/>

			<div class="box">
				<table class="table is-striped is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>CKEY</th>
							<th>Start Date</th>
							<th>Expiry Date</th>
							<th>Reason</th>
							<th>Revoked</th>
							<th>Tools</th>
						</tr>
					</thead>
					<tbody>
						{% for loa in loas %}
							<tr>
								<td>{{ ckey_link(loa.ckey) }}</td>

								<td>
									<time datetime="{{ loa.time }}">{{ loa.time }}</time>
								</td>

								<td>
									<time datetime="{{ loa.expiry_time }}">{{ render_datetime_as_delta(loa.expiry_time) }}</time>
								</td>

								<td>{{ loa.reason }}</td>

								<td>{{bool(loa.revoked)}}</td>

								<td>
									<div class="buttons">
										<form method="post" action="/admin/loa/{{ loa.id }}/revoke">
											<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
											<button class="button">Revoke</button>
										</form>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}