{% extends "layout.html" %}

{% from 'util/macros.html' import ckey_link, pagination, search_form, form_errors with context %}

{% block title %}Panel - Admins{% endblock %}

{% block head %}
	<script src="/static/js/admin/manage_admins.js"></script>
{% endblock %}

{% block content %}

	<!-- Start set LOA form modal -->
	<div class="modal" v-bind:class="{'is-active': loa_modal_is_active}">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Setting as Leave of Absence</p>
				<a class="delete"
					v-on:click="loa_modal_is_active = false"
				></a>
			</header>

			<form id="set-loa-form" method="POST">

				{{ form_set_loa.csrf_token }}

				<section class="modal-card-body">
					<div class="field">
						<div class="label">CKEY</div>
						<div class="control has-icons-left">
							{{ form_set_loa.ckey(class_="input is-fullwidth", placeholder="Enter the CKEY of the admin...", **{":value": "loa_target_admin_ckey"}) }}

							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<div class="label">Reason</div>
						<div class="control">
							{{ form_set_loa.reason(class_="textarea is-fullwidth", placeholder="Enter the reason for the LOA...", rows="3") }}
						</div>
					</div>

					<div class="field">
						<div class="label">Expiration Time</div>
						<div class="control has-icons-left">
							{{ form_set_loa.expiration_time(class_="input is-fullwidth") }}
							<span class="icon is-small is-left">
								<i class="fas fa-clock"></i>
							</span>
						</div>
					</div>

					{{ form_errors(form_set_loa) }}

				</section>

				<footer class="modal-card-foot">
					<a class="button is-pulled-right"
						v-on:click="loa_modal_is_active = false"
					>
						Cancel
					</a>
					<button class="button is-success is-pulled-right">Set LOA</button>
				</footer>
			</form>
		</div>
	</div>
	<!-- End set LOA form modal -->

	<h2 class="title is-2 has-text-centered">Admin Management</h2>

	<div class="columns is-centered">
		<div class="column is-four-fifths">

			<table class="table is-striped is-hoverable is-fullwidth">
				<thead>
					<tr>
						<th>CKEY</th>
						<th>Rank</th>
						<th>Status</th>
						<th>Tools</th>
					</tr>
				</thead>
				<tbody>
					{% for admin in admins %}
						<tr>
							<td>{{ ckey_link(admin.ckey) }}</td>

							<td>
								<div class="dropdown is-hoverable">
									<div class="dropdown-trigger">
										<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
											<span>{{ admin.rank }}</span>
											<span class="icon is-small">
												<i class="fas fa-angle-down"></i>
											</span>
										</button>
									</div>

									<div class="dropdown-menu" id="dropdown-menu" role="menu">
										<div class="dropdown-content">
											{% for rank in admin_ranks %}
												<a href="/admin/admins/{{ admin.ckey }}/modify?rank={{ rank.rank }}" class="dropdown-item">
													{{ rank.rank }}
												</a>
											{% endfor %}
										</div>
									</div>
								</div>
							</td>

							<td>
								<div class="tag is-success is-medium has-text-centered">Available</div>
							</td>

							<td>
								<a class="button"
									v-on:click="loa_target_admin_ckey = '{{ admin.ckey }}'; loa_modal_is_active = true"
								>
									Set LOA
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="box">
				<h3 class="title is-3 has-text-centered">LOA Management</h3>

				<table class="table is-striped is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>ID</th>
							<th>CKEY</th>
							<th>Start Time</th>
							<th>Expiry Time</th>
							<th>Reason</th>
							<th>Tools</th>
						</tr>
					</thead>
					<tbody>
						{% for loa in loas %}
							<tr>
								<td>{{ loa.id }}</td>

								<td>{{ ckey_link(loa.ckey) }}</td>

								<td>
									<time datetime="{{ loa.time }}">{{ loa.time }}</time>
								</td>

								<td>
									<time datetime="{{ loa.expiry_time }}">{{ util.readable_time_delta(loa.expiry_time) }}</time>
								</td>

								<td>{{ loa.reason }}</td>

								<td>
									<div class="buttons">
										<a class="button" href="/admin/loa/{{ loa.id }}/revoke">Revoke</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}