html {
	overflow-y: unset;
}

.background-transition {
	transition: background 0.2s, background-color 0.2s;
}

input[type=range].slider::-webkit-slider-runnable-track {
	transition: background 0.2s;
}

[v-cloak] {
	display: none !important;
}

.wrap-break-word {
	word-wrap: break-word;
}

.fixed-table {
	table-layout: fixed;
}

input[readonly] {
	cursor: not-allowed;
}