{% extends "layout.html" %}

{% from 'util/macros.html' import pagination, search_form with context %}

{% block title %}Rounds{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

	<h2 class="title is-2 has-text-centered">Public Round List</h2>

	<div class="columns is-centered">
		<div class="column is-four-fifths">

			{{ search_form(search_query, "Search by round id, gamemode, or map...") }}

			{{ pagination(page, page_count) }}

			<div class="box">
				<table class="table is-striped is-hoverable is-fullwidth">
					<thead>
						<tr>
							<th>Round ID</th>
							<th width="200px">Start Time</th>
							<th>Duration</th>
							<th>Game Mode</th>
							<th>Map Name</th>
							<th width="300px">Station Name</th>
							<th>Tools</th>
						</tr>
					</thead>
					<tbody>
						{% for round in rounds %}
							<tr>
								<td>{{ round.id }}</td>

								<td><time datetime="{{ round.start_datetime }}">{{ round.start_datetime }}</time></td>

								{% if round.end_datetime %}
									<td>{{ round.end_datetime - round.start_datetime }}</td>
								{% else %}
									<td>In Progress</td>
								{% endif %}

								<td><a href="?query={{ round.game_mode }}" class="tag is-medium is-primary">{{ round.game_mode }}</a></td>

								<td><a href="?query={{ round.map_name }}" class="tag is-medium is-info">{{ round.map_name }}</a></td>

								<td>{{ round.station_name }}</td>

								<td>
									<div class="buttons">
										<a class="button"
											{% if round.in_progress() %}
												href="https://yogstation13.github.io/demo-viewer/?roundid={{ round.id }}?send_credentials=1"
											{% else %}
												href="https://yogstation13.github.io/demo-viewer/?roundid={{ round.id }}"
											{% endif %}
											target="_blank">
											Replay
										</a>
										{% if g.current_user.has_perms("round.logs") %}
											<a class="button" href="/rounds/{{ round.id }}/logs">Logs</a>
										{% endif %}
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			{{ pagination(page, page_count) }}
		</div>
	</div>
{% endblock %}