{# To whoever has to fix this in the future, I'm sorry - qwerty #}
{% macro pagination(current_page, page_count) %}
	<nav class="pagination is-centered" role="navigation" aria-label="pagination">

		{# I hate this but it's to make the center 3 pagination buttons be right #}
		{% if current_page >= page_count - 1 %}
			{% set center_page = page_count - 2 %}
		{% elif current_page <= 2 %}
			{% set center_page = 3 %}
		{% else %}
			{% set center_page = current_page %}
		{% endif %}

		{% if current_page > 1 %}
			<a class="pagination-previous" href="{{ modify_query(page=current_page-1) }}">Previous</a>
		{% endif %}

		{% if current_page < page_count %}
			<a class="pagination-next" href="{{ modify_query(page=current_page+1) }}">Next</a>
		{% endif %}

		<ul class="pagination-list">
			<li><a class="pagination-link  {% if current_page == 1 %}is-current{% endif %}"  href="{{ modify_query(page=1) }}">1</a></li>

			<li><span class="pagination-ellipsis">&hellip;</span></li>

			{% if center_page - 1 > 1 and center_page -1 < page_count %}
				<li><a class="pagination-link {% if current_page == center_page - 1 %}is-current{% endif %}" href="{{ modify_query(page=center_page-1) }}">{{ center_page - 1 }}</a></li>
			{% endif %}

			{% if center_page > 1 and center_page < page_count %}
			<li><a class="pagination-link {% if current_page == center_page %}is-current{% endif %}" href="{{ modify_query(page=center_page) }}">{{ center_page }}</a></li>
			{% endif %}

			{% if center_page + 1 > 1 and center_page + 1 < page_count %}
				<li><a class="pagination-link {% if current_page == center_page + 1 %}is-current{% endif %}" href="{{ modify_query(page=center_page+1) }}">{{ center_page + 1}}</a></li>
			{% endif %}

			<li><span class="pagination-ellipsis">&hellip;</span></li>

		<li><a class="pagination-link {% if current_page == page_count %}is-current{% endif %}" href="{{ modify_query(page=page_count) }}">{{ page_count }}</a></li>
		</ul>
	</nav>
{% endmacro %}

{% macro search_form(default_value, placeholder_text) %}
	<form id="search-form">
		<div class="field">
			<div class="control has-icons-left">
				<input name="query" class="input" type="text"
					placeholder="{{ placeholder_text }}"
					{% if default_value %}value="{{ default_value }}"{% endif %}
				/>
				<span class="icon is-small is-left">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</form>
{% endmacro %}

{% macro form_errors(form) %}
	{% if form.errors %}
		<ul class="errors">
			{% for field, errors in form.errors.items() %}
				{% for error in errors %}
					<div class="message is-danger mb-3">
						<div class="message-body py-2 my-0">
							{{ field | title }}: {{ error }}
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% macro ckey_link(ckey) %}
	<a href="/players/{{ util.byondname_to_ckey(ckey) }}">{{ util.byondname_to_ckey(ckey) }}</a>
{% endmacro %}

{% macro render_datetime_as_delta(dt) %}
	<time datetime="{{ dt }}" title="{{ dt }}">{{ util.readable_time_delta(dt) }}</time>
{% endmacro %}

{% macro abbreviate(content, maxlength) %}
	{% if content | length > maxlength %}
		<abbr title="{{ content }}">{{ content | truncate(maxlength, True) }}</abbr>
	{% else %}
		{{ content }}
	{% endif %}
{% endmacro %}