{% macro note_listing(notes, show_ckey=True) %}
	<table class="table is-striped is-hoverable is-fullwidth">
		<thead>
			<tr>
				{% if show_ckey %}
					<th>CKEY</th>
				{% endif %}
				
				<th width="200px">Date</th>
				<th>Text</th>
				<th>Admin</th>
				<th>Tools</th>
			</tr>
		</thead>

		<tbody>
			{% for note in notes %}
				<tr>
					{% if show_ckey %}
						<td>{{ note.ckey }}</td>
					{% endif %}

					<td>
						{% if note.timestamp %}
							<time datetime="{{ note.timestamp }}">{{ util.readable_time_delta(note.timestamp) }}</time>
						{% else %}
							None
						{% endif %}
					</td>
				
					<td>{{ note.notetext }}</td>

					<td>{{ note.adminckey }}</td>

					<td>
						<div class="buttons">
							<a class="button" href="/notes/{{ note.id }}/edit">Edit</a>
							<a class="button" href="/notes/{{ note.id }}/delete">Delete</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}