{% extends "layout.html" %}

{% from 'util/macros.html' import form_errors with context %}
{% from 'bans/macros.html' import ban_listing with context %}
{% from 'directory/macros.html' import note_listing with context %}

{% block title %}Directory - {{ player.ckey }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
	<div class="columns is-centered">
		<div class="column is-four-fifths">
			<a class="button" href="javascript:history.back()">Back</a>
			<br/><br/>
			<div class="columns">
				<div class="column is-two-thirds">
					<h2 class="title is-2">{{ player.ckey }}</h2>
				</div>
				<div class="column is-one-third">

				</div>
			</div>
			
			<h2 class="title is-3 has-text-centered">Statistics</h2>

			<div class="columns">
				<div class="column is-one-third">
					<div class="box has-text-centered">
						<p class="title is-4">Connections</p>
						<p class="subtitle is-4">{{ player.get_connection_count() }}</p>
					</div>
				</div>

				<div class="column is-one-third">
					<div class="box has-text-centered">
						<p class="title is-4">Deaths</p>
						<p class="subtitle is-4">{{ player.get_death_count() }}</p>
					</div>
				</div>

				<div class="column is-one-third">
					<div class="box has-text-centered">
						<p class="title is-4">Rounds Played</p>
						<p class="subtitle is-4">{{ player.get_round_count() }}</p>
					</div>
				</div>
			</div>

			<br/>

			<h2 class="title is-3 has-text-centered">Play Time</h2>

			<div class="columns is-multiline">
				<div class="column is-one-quarter">
					<div class="box has-text-centered">
						<p class="title is-4">Total</p>
						<p class="subtitle is-4">{{ (player.get_total_playtime() / 60) | round | int }} hours</p> {# TODO: optimize #}
					</div>
				</div>
				<div class="column is-one-quarter">
					<div class="box has-text-centered">
						<p class="title is-4">Living</p>
						<p class="subtitle is-4">{{ (player.get_role_time("Living") / 60) | round | int }} hours</p>
					</div>
				</div>
				<div class="column is-one-quarter">
					<div class="box has-text-centered">
						<p class="title is-4">Ghost</p>
						<p class="subtitle is-4">{{ (player.get_role_time("Ghost") / 60) | round | int }} hours</p>
					</div>
				</div>
				<div class="column is-one-quarter">
					<div class="box has-text-centered">
						<p class="title is-4">Favorite Job</p>

						{% set favorite_job = player.get_favorite_job() %}

						<p class="subtitle is-4">
							{% if favorite_job %}
								{{  favorite_job.job | title }} ({{ (favorite_job.minutes / 60) | round | int }}h)
							{% else %}
								None
							{% endif %}
						</p>
					</div>
				</div>
				<!-- Next row -->
				<div class="column is-one-third">
					<div class="box has-text-centered">
						<p class="title is-4">First Seen</p>
						<p class="subtitle is-4" title="{{ player.firstseen }}">{{ player.firstseen.date() }}</p>
					</div>
				</div>
				<div class="column is-one-third">
					<div class="box has-text-centered">
						<p class="title is-4">Last Seen</p>
						<p class="subtitle is-4" title="{{ player.lastseen }}">{{ player.lastseen.date() }}</p>
					</div>
				</div>
				<div class="column is-one-third">
					<div class="box has-text-centered">
						<p class="title is-4">Account Created</p>
						<p class="subtitle is-4">{{ player.accountjoindate or "Unknown" }}</p>
					</div>
				</div>
			</div>
			<br/>
			
			{% if g.current_user.has_perms("note.access") %}
				<h2 class="title is-3 has-text-centered">Notes</h2>
				
				{% if g.current_user.has_perms("note.manage") %}
					{{ form_errors(form_note_add) }}
					<form id="edit-ban-form" method="POST">
						{{ form_note_add.csrf_token }}

						<div class="field has-addons">
							<div class="control is-expanded">
								{{ form_note_add.text(class_="input is-fullwidth", placeholder="Type out the note you wish to add...") }}
							</div>
							<div class="control">
								<div class="select">
									{{ form_note_add.type() }}
								</div>
							</div>
							<div class="control">
								<label class="checkbox button">
									{{ form_note_add.secret() }}
									<i class="fas fa-eye-slash" title="Secret"></i>
								</label>
							</div>
							<div class="control">
								<button class="button is-primary is-pulled-right">Add Note</button>
							</div>
						</div>
					</form>

					<br/>
					
				{% endif %}

				{% set notes = player.get_visible_notes() %}
				{% if notes %}
					{{ note_listing(notes, show_ckey=False) }}
				{% else %}
					<div class="box has-text-centered">
						<p class="subtitle is-5">This user has no notes in the database</p>
					</div>
				{% endif %}
			{% endif %}

			<br/>

			<h2 class="title is-3 has-text-centered">Bans</h2>
			
			{% if g.current_user.has_perms("ban.manage") %}
				<div class="buttons is-right">
					<a href="/bans/add?ckey={{ player.ckey }}" class="button is-primary">Add Ban</a>
				</div>
			{% endif %}

			{% set bans = player.get_bans() %}
			{% if bans %}
				{{ ban_listing(bans, show_ckey=False) }}
			{% else %}
				<div class="box has-text-centered">
					<p class="subtitle is-5">This user has no bans in the database</p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}