{% extends "layout.html" %}

{% from 'bans/macros.html' import ban_listing with context %}
{% from 'directory/macros.html' import note_listing with context %}

{% block title %}Directory - {{ player.ckey }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
	<div class="columns is-centered">
		<div class="column is-four-fifths">
			<a class="button" href="javascript:history.back()">Back</a>
			<br/><br/>
			<div class="columns">
				<div class="column is-two-thirds">
					<h2 class="title is-2">{{ player.ckey }}</h2>
				</div>
				<div class="column is-one-third">

				</div>
			</div>
			
			<h2 class="title is-3 has-text-centered">Statistics</h2>

			<div class="columns">
				<div class="column is-one-fourth">
					<div class="box has-text-centered">
						<p class="title is-4">Connections</p>
						<p class="subtitle is-4">{{ player.get_connection_count() }}</p>
					</div>
				</div>

				<div class="column is-one-fourth">
					<div class="box has-text-centered">
						<p class="title is-4">Deaths</p>
						<p class="subtitle is-4">{{ 9999 }}</p> {# temporary until I get deaths table TODO: fix #}
					</div>
				</div>

				<div class="column is-one-fourth">
					<div class="box has-text-centered">
						<p class="title is-4">Rounds Played</p>
						<p class="subtitle is-4">{{ player.get_round_count() }}</p> {# temporary until I finish this TODO: fix #}
					</div>
				</div>
			</div>

			<br/>

			<h2 class="title is-3 has-text-centered">Play Time</h2>

			<div class="columns">
				<div class="column is-one-fourth">
					<div class="box has-text-centered">
						<p class="title is-4">Total</p>
						<p class="subtitle is-4">{{ (player.get_total_playtime() / 60) | round | int }} hours</p> {# TODO: optimize #}
					</div>
				</div>
				<div class="column is-one-fourth">
					<div class="box has-text-centered">
						<p class="title is-4">Living</p>
						<p class="subtitle is-4">{{ (player.get_role_time("Living") / 60) | round | int }} hours</p> {# temporary until I get deaths table TODO: fix #}
					</div>
				</div>
				<div class="column is-one-fourth">
					<div class="box has-text-centered">
						<p class="title is-4">Ghost</p>
						<p class="subtitle is-4">{{ (player.get_role_time("Ghost") / 60) | round | int }} hours</p>
					</div>
				</div>
				<div class="column is-one-fourth">
					<div class="box has-text-centered">
						<p class="title is-4">Favorite Job</p>

						{% set favorite_job = player.get_favorite_job() %}

						<p class="subtitle is-4">
							{% if favorite_job %}
								{{  favorite_job.job | title }} ({{ (favorite_job.minutes / 60) | round | int }}h)
							{% else %}
								None
							{% endif %}
						</p>
					</div>
				</div>
			</div>

			{% if admin_perms.can_manage_bans() %}
				<br/>

				<h2 class="title is-3 has-text-centered">Bans</h2>
				
				{% if player.bans %}
					{{ ban_listing(player.bans, show_ckey=False) }}
				{% else %}
					<div class="box has-text-centered">
						<p class="subtitle is-5">This user has no bans in the database</p>
					</div>
				{% endif %}
			{% endif %}

			{% if admin_perms.can_manage_notes() %}
				<br/>

				<h2 class="title is-3 has-text-centered">Notes</h2>

				{% if player.notes %}
					{{ note_listing(player.notes, show_ckey=False) }}
				{% else %}
					<div class="box has-text-centered">
						<p class="subtitle is-5">This user has no notes in the database</p>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}