{% extends "layout.html" %}

{% block title %}Rounds - {{ round.id }} - Logs{% endblock %}

{% block head %}
	<script src="/static/js/log_viewer.js"></script>

	<script src="/static/js/moment.min.js"></script>

	<script>
		window.log_viewer_round_id = {{ round.id }};
	</script>

{% endblock %}

{% block content %}
	<div id="log-viewer" class="columns is-centered">
		<div class="column is-four-fifths">
			<a class="button" href="javascript:history.back()">Back</a>
			<br/><br/>
			<div class="columns">
				<div class="column is-two-thirds">
					<h2 class="title is-2">Logs for Round #{{ round.id }}</h2>
					<h4 v-cloak class="subtitle is-4">${ log_entries.length } entries (${ filtered_log_entries.length } shown)</h4>
				</div>
			</div>
			
			<div class="box">
				<div class="field has-addons">
					<div class="control has-icons-left is-expanded">
						
						<input class="input" type="text" placeholder="Filter logs..." v-on:input="query = $event.target.value" 
						:class="{'is-danger': !regex_valid}" />

						<span class="icon is-small is-left">
							<i class="fas fa-search"></i>
						</span>
					</div>

					<div class="control">
						<input id="regex-toggle" class="button" type="checkbox" v-model="regex_enabled" style="display: none;" />
						<label for="regex-toggle" class="button" :class="{'is-success': regex_enabled}" style="font-family: monospace;">
							<b>.*</b>
						</label>
					</div>
				</div>

				<br/>

				<div v-cloak class="field is-grouped is-grouped-multiline">
					<div class="control" v-for="(classes, category, index) in category_color_classes">
						<label class="tag checkbox" v-bind:class="classes" style="user-select: none;">
							<input v-cloak type="checkbox" v-model="enabled_categories" :value="category" />
							&nbsp;${ category }
						</label>
					</div>
				</div>

				<input class="slider is-fullwidth is-success is-circle" step="1" value="0" min="0" max="10000" type="range"
					v-on:input="seek = parseInt($event.target.value)"
					v-bind:value="seek"
				>

				<br/>

				<table class="table is-striped is-hoverable is-fullwidth fixed-table">
					<thead>
						<tr>
							<th width="200px">Time Stamp</th>
							<th width="110px">Category</th>
							<th>Content</th>
						</tr>
					</thead>
			
					<tbody>
							<tr v-cloak v-for="entry in displayed_log_entries">
								<td>${ format_datetime_local(entry.timestamp) }</td>
								
								<td class="has-text-centered"><div style="width: 85px;" class="tag" v-bind:class="category_color_classes[entry.category]">${ entry.category }</div></td>
								
								<td class="wrap-break-word">${ entry.content }</td>
							</tr>
					</tbody>
				</table>
				
				<div class="container is-fullwidth has-text-centered" v-if="!log_entries.length">
					<span style="width: 40px; height: 40px; display: inline-block;" class="loader"></span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}